{% load static %}<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>{% block title %}{% endblock %}</title>
<link rel="stylesheet" type="text/css" href="{% block stylesheet %}{% static "css/bootstrap.css" %}{% endblock %}"/>
<link rel="stylesheet" type="text/css" href="{% static "css/rapidito.css" %}"/>
</head>

<body>
    <nav class="navbar navbar-expand-md navbar-inverse fixed-top bg-inverse">
      <a class="navbar-brand" href="#">Rapidito</a>
      <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <nav class="col-sm-3 col-md-2 d-none d-sm-block bg-faded sidebar">
          <ul class="nav nav-pills flex-column">
            <li class="nav-item">
              <a class="nav-link active" href="#">Formulario 110<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Boletas</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">ICM</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">IT</a>
            </li>
          </ul>

          <ul class="nav nav-pills flex-column">
            <li class="nav-item">
              <a class="nav-link" href="#">ITF</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">IUE</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">IVA</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">RC-IVA</a>
            </li>
          </ul>
        </nav>

        <main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3">
          <h1>Formulario 110</h1>

          <section class="row text-center placeholders">
  <header>
    <div id="logo-section">
      <div>
	<img src="{% static "images/impuesto.bmp" %}"/>
      </div>
      <div id="logo-title">
	<p>IMPUESTOS NACIONALES</p>
	<p>DD.JJ. PARA </p>
	<p>PRESENTACION DE NOTAS FISCALES</p>
      </div>
    </div>
    <div id="libre-impuestos-section">
      <div id="libre-impuestos-section-title">
	<table>
	  <tr><td>FORMULARIO IMPUESTOS</td><td>IMPORTES EN BOLIVIANOS SIN CENTAVOS</td></tr>
	</table>
      </div>
      <div id="formulario-section">
	<div id="formulario-title"><h2>FORM 110 VER.2</h2></div>
	<div id="selection-section">
	  <table>
	    <tr>
	      <td>FUNCIONARIO DEPENDIENTE:</td>
	      <td><input class="selection-input" type="checkbox" name="option1"></td>
	    </tr>
	    <tr>
	      <td>ANEXO AL FORM: 610 (RC-IVA):</td>
	      <td><input class="selection-input" type="checkbox" name="option2"></td>
	    </tr>
	    <tr>
	      <td>ANEXO AL FORM: 702 (STI):</td>
	      <td><input class="selection-input" type="checkbox" name="option3"></td>
	    </tr>
	    <tr>
	      <td>ANEXO AL FORM: 510 (profesionales):</td>
	      <td><input class="selection-input" type="checkbox" name="option4"></td>
	    </tr>
	    <tr>
	      <td>Márque solo una casilla</td>
	    </tr>
	  </table>
	</div>
	<div id="numero-orden-section">
	  <table>
	    <tr>
	      <td>NUMERO DE ORDEN</td>
	    </tr>
	    <tr>
	      <td><input class="orden-input" type="text" /></td>
	    </tr>
	    <tr>
	      <td>NIT</td>
	    </tr>
	    <tr>
	      <td><input class="orden-input" type="text" /></td>
	    </tr>
	  </table>
	</div>
      </div>
    </div>
    <div id="folio-section">
      <div id="folio-title">
	<p id="folio-title-text">FOLIO</p>
	<p>USO BANCO O</p>
	<p>COLECTURIA</p>
      </div>
      <div id="folio-periodo">
	<p>PERIODO</p>
	<table>
	  <tr><td>MES</td><td>AÑO</td></tr>
	  <tr><td><input class="folio-input" type="text" /></td><td><input class="folio-input" type="text" /></td></tr>
	</table>
      </div>
    </div>
  </header>
  <section id="formulario-personal-section">
    <table id="formulario-personal-section-nombres">
      <tr><td>NOMBRES Y APELLIDOS:</td><td id="formulario-personal-section-cell"><input class="formulario-personal-input" type="text" /></td></tr>
      <tr><td>DOMICILIO:</td><td id="formulario-personal-section-cell"><input class="formulario-personal-input" type="text" /></td></tr>
    </table>
    <table id="formulario-personal-section-identidad">
      <tr>
	<td>Nro. DE DOCUMENTO DE IDENTIDAD:</td>
	<td><input class="formulario-personal-input" type="text" /></td>
	<td>LUGAR DE EXPEDICION:</td>
	<td><input class="formulario-personal-input" type="text" /></td>
      </tr>
    </table>
  </section>
  <section id="formulario-empleador-section">
    <table>
      <tr><td>NOMBRES Y APELLIDOS O RAZON SOCIAL DEL EMPLEADOR:</td><td width=100%><input class="formulario-empleador-input" type="text" /></td></tr>
    </table>
    <table>
      <tr><td>NUMERO DE NIT:</td><td width=100%><input class="formulario-empleador-input" type="text" /></td></tr>
    </table>
    <table>
      <tr><td>DOMICILIO:</td><td width=100%><input class="formulario-empleador-input" type="text" /></td></tr>
    </table>
  </section>
  <section id="grid-section">
    <table width=100%>
      <caption id="grid-title">RUBRO 1 - DETALLE DE NOTAS FISCALES QUE ACOMPAÑAN</caption>
      <thead>
	<tr>
	  <th>Nro.</th>
	  <th>NIT</th>
	  <th>Nro. de Factura</th>
	  <th>Nro. Autoriz/Orden</th>
	  <th>Fecha</th>
	  <th>Importe</th>
	  <th>Código de Control</th>
	</tr>
      </thead>
      <tbody>
	<tr>
	  <td><div class="column-Nro"><input id="cell-input" type='text'/></div></td>
	  <td><div class="column-NIT"><input id="cell-input" type='text'/></div></td>
	  <td><div class="column-NIT"><input id="cell-input" type='text'/></div></td>
	  <td><div class="column-NIT"><input id="cell-input" type='text'/></div></td>
	  <td><div class="column-fecha"><input id="cell-input" type='text'/></div></td>
	  <td><div class="column-NIT"><input id="cell-input" type='text'/></div></td>
	  <td><div class="column-NIT"><input id="cell-input" type='text'/></div></td>
	</tr>
	<tr>
	  <td><div class="column-Nro"><input id="cell-input" type='text'/></div></td>
	  <td><div class="column-NIT"><input id="cell-input" type='text'/></div></td>
	  <td><div class="column-NIT"><input id="cell-input" type='text'/></div></td>
	  <td><div class="column-NIT"><input id="cell-input" type='text'/></div></td>
	  <td><div class="column-fecha"><input id="cell-input" type='text'/></div></td>
	  <td><div class="column-NIT"><input id="cell-input" type='text'/></div></td>
	  <td><div class="column-NIT"><input id="cell-input" type='text'/></div></td>
	</tr>
	<tr>
	  <td><div class="column-Nro"><input id="cell-input" type='text'/></div></td>
	  <td><div class="column-NIT"><input id="cell-input" type='text'/></div></td>
	  <td><div class="column-NIT"><input id="cell-input" type='text'/></div></td>
	  <td><div class="column-NIT"><input id="cell-input" type='text'/></div></td>
	  <td><div class="column-fecha"><input id="cell-input" type='text'/></div></td>
	  <td><div class="column-NIT"><input id="cell-input" type='text'/></div></td>
	  <td><div class="column-NIT"><input id="cell-input" type='text'/></div></td>
	</tr>
	<tr>
	  <td><div class="column-Nro"><input id="cell-input" type='text'/></div></td>
	  <td><div class="column-NIT"><input id="cell-input" type='text'/></div></td>
	  <td><div class="column-NIT"><input id="cell-input" type='text'/></div></td>
	  <td><div class="column-NIT"><input id="cell-input" type='text'/></div></td>
	  <td><div class="column-fecha"><input id="cell-input" type='text'/></div></td>
	  <td><div class="column-NIT"><input id="cell-input" type='text'/></div></td>
	  <td><div class="column-NIT"><input id="cell-input" type='text'/></div></td>
	</tr>
	<tr>
	  <td><div class="column-Nro"><input id="cell-input" type='text'/></div></td>
	  <td><div class="column-NIT"><input id="cell-input" type='text'/></div></td>
	  <td><div class="column-NIT"><input id="cell-input" type='text'/></div></td>
	  <td><div class="column-NIT"><input id="cell-input" type='text'/></div></td>
	  <td><div class="column-fecha"><input id="cell-input" type='text'/></div></td>
	  <td><div class="column-NIT"><input id="cell-input" type='text'/></div></td>
	  <td><div class="column-NIT"><input id="cell-input" type='text'/></div></td>
	</tr>
	<tr>
	  <td><div class="column-Nro"><input id="cell-input" type='text'/></div></td>
	  <td><div class="column-NIT"><input id="cell-input" type='text'/></div></td>
	  <td><div class="column-NIT"><input id="cell-input" type='text'/></div></td>
	  <td><div class="column-NIT"><input id="cell-input" type='text'/></div></td>
	  <td><div class="column-fecha"><input id="cell-input" type='text'/></div></td>
	  <td><div class="column-NIT"><input id="cell-input" type='text'/></div></td>
	  <td><div class="column-NIT"><input id="cell-input" type='text'/></div></td>
	</tr>
	<tr>
	  <td><div class="column-Nro"><input id="cell-input" type='text'/></div></td>
	  <td><div class="column-NIT"><input id="cell-input" type='text'/></div></td>
	  <td><div class="column-NIT"><input id="cell-input" type='text'/></div></td>
	  <td><div class="column-NIT"><input id="cell-input" type='text'/></div></td>
	  <td><div class="column-fecha"><input id="cell-input" type='text'/></div></td>
	  <td><div class="column-NIT"><input id="cell-input" type='text'/></div></td>
	  <td><div class="column-NIT"><input id="cell-input" type='text'/></div></td>
	</tr>
	<tr>
	  <td><div class="column-Nro"><input id="cell-input" type='text'/></div></td>
	  <td><div class="column-NIT"><input id="cell-input" type='text'/></div></td>
	  <td><div class="column-NIT"><input id="cell-input" type='text'/></div></td>
	  <td><div class="column-NIT"><input id="cell-input" type='text'/></div></td>
	  <td><div class="column-fecha"><input id="cell-input" type='text'/></div></td>
	  <td><div class="column-NIT"><input id="cell-input" type='text'/></div></td>
	  <td><div class="column-NIT"><input id="cell-input" type='text'/></div></td>
	</tr>
	<tr>
	  <td><div class="column-Nro"><input id="cell-input" type='text'/></div></td>
	  <td><div class="column-NIT"><input id="cell-input" type='text'/></div></td>
	  <td><div class="column-NIT"><input id="cell-input" type='text'/></div></td>
	  <td><div class="column-NIT"><input id="cell-input" type='text'/></div></td>
	  <td><div class="column-fecha"><input id="cell-input" type='text'/></div></td>
	  <td><div class="column-NIT"><input id="cell-input" type='text'/></div></td>
	  <td><div class="column-NIT"><input id="cell-input" type='text'/></div></td>
	</tr>
	<tr>
	  <td><div class="column-Nro"><input id="cell-input" type='text'/></div></td>
	  <td><div class="column-NIT"><input id="cell-input" type='text'/></div></td>
	  <td><div class="column-NIT"><input id="cell-input" type='text'/></div></td>
	  <td><div class="column-NIT"><input id="cell-input" type='text'/></div></td>
	  <td><div class="column-fecha"><input id="cell-input" type='text'/></div></td>
	  <td><div class="column-NIT"><input id="cell-input" type='text'/></div></td>
	  <td><div class="column-NIT"><input id="cell-input" type='text'/></div></td>
	</tr>
      </tbody>
    </table>
    <div><input type="button" value="Agregar nueva fila"/></div>
  </section>
  <section id="total-section">
    <table><tr><td>Suma total del Rubro 1.</td><td><div id="total"></div></td></tr></table>
  </section>
  <section id="total-rubro">
    <table>
      <tr><td>INC.</td><td>RUBRO 2 - DETERMINACION AL PAGO A CUENTA</td><td>IMPORTE</td></tr>
      <tr><td><p>a.</p><p>b.</p></td><td><div id="Descripcion"><p>Total del Rubro 1</p><p>Determinación del pago a cuenta: 13% sobre el importe del inc. b para los formularios 71 y 72, y a la C547 form 510)</p></div></td><td></td></tr>
    </table>
  </section>
  <section id="footer-section">
    <div id="lugar-section">
      <div>
	<table width="100%">
	  <tr><th><b>LUGAR</b></th></tr>
	  <tr><td></td></tr>
	</table>
	<table width="100%">
	  <tr><th><b>DIA</b></th><th><b>MES</b></th><th><b>AÑO</b></th></tr>
	  <tr><td></td><td></td><td></td></tr>
	</table>
      </div>
    </div>
    <div id="declaracion-section">
      <p><b>JURO LA EXACTITUD DE LA PRESENTE DECLARACION</b></p>
      <div id="firma"></div>
      <p><b>FIRMA DEL CONTRIBUYENTE</b></p>
    </div>
    <div id="sello-section">
      <p><b>Sello Banco o Colecturia</b></p>
      <div id="sello"></div>
    </div>
  </section>
  <footer>
    <table>
      <tr> <td>Libre Impuestos</td> <td> Software Libre Bolivia  http://www.softwarelibre.org.bo/ </td> <td>2014</td>
    </table>
  </footer>


          </section>
        </main>
      </div>
    </div>
  </body>
</html>
